a {
	color: inherit;
	/* remplacer la couleur bleu et violette par la couleur du reste du texte */
	text-decoration: inherit;
	/* masquer le soulignement des liens hypertextes */
}

.icon {
	vertical-align: middle; /* aligner verticalement avec le texte */
	width: 30px; /* taille */
}

.footer {
	background: none repeat scroll 0% 0% rgb(66, 69, 72); /* arrière plan */
	color: rgb(255, 255, 255); /* couleur du texte */
	overflow: auto; /* ? garde le background avec le float:left des box */
}

.footer .box-section {
	margin: 0px auto; /* centrage */
	width: 1000px; /* largeur utilisée pour le centrage */
}

.box-section .box {
	float: left; /* listes côtes à côtes */
	width: 250px;
	/* espacer les listes /!\  pas trop large pour éviter le retour à la ligne */
}

.footer-list {
	list-style: none outside none; /* cacher les puces des listes */
	padding-left: 0px;
	/* retrait à gauche de chaque éléments de chaque liste */
}

.box h1 {
	color: rgb(137, 137, 137); /* couleur du texte */
	font-size: large; /* taille de la police */
}